In [5]:
import numpy as np

In [6]:
import pandas as pd

In [7]:
import matplotlib.pyplot as plt

In [4]:
import plotly.plotly as py

In [8]:
import plotly.graph_objs as go

In [9]:
import plotly.tools as tls

In [10]:
%matplotlib inline

In [18]:
tls.embed('https://plot.ly/~cufflinks/8')

In [11]:
DV = pd.read_excel('C:/Users/mjc341/Desktop/TESTPY/DV1.xlsx')

In [12]:
DV.head(4)

,CRASHNUM,COUNT,DR_AGE,DR_GENDER,VEH_MAKE,VEH_SPEED,Speed_LIMIT,X,Y,CALYEAR,...,DAYOFWEEK,LIGHT1-6,WEATH1-7,WEATH,LTCOND,LATITUDE,LONGITUDE,NEIGHBORHOOD,Ped_AGE,Ped_GENDER
0,818743120,1,40,Female,HOND,35,40,-80.262743,25.750146,2011,...,Saturday,4,1,clear,dark-lighted,25.750141,-80.262740,Coral Gables,60,Female
1,817219370,1,0,n.a.,NISS,5,35,-80.155873,25.926106,2011,...,Sunday,1,1,clear,daylight,25.926100,-80.155869,North Miami Beach,56,Female
2,818746210,1,29,Male,AUDI,10,30,-80.262743,25.750146,2011,...,Friday,4,1,clear,dark-lighted,25.750141,-80.262740,Coral Gables,30,Female
3,817219810,1,58,Male,TOYT,10,35,-80.163908,25.925943,2011,...,Monday,4,1,clear,dark-lighted,25.925938,-80.163904,North Miami Beach,43,Male

In [14]:
import plotly

In [24]:
plotly.tools.set_credentials_file(username = 'idoneo21', api_key='CuOxpMEbg0lZ3dEyda87')

In [25]:
import scipy as sp
import plotly.figure_factory as ff

In [ ]:
table= ff.create_table(DV)
py.iplot(table, filename ='DV_table')