In [1]:
import plotly as py
import plotly.graph_objs as go
import ipywidgets as widgets
import numpy as np
import pandas as pd

py.offline.init_notebook_mode(connected = True)

In [2]:
VZ2= pd.read_excel('/Users/Bemi2/Desktop/Plotly/Neig_extract.xlsx',dtype ={'CRASHNUM':str})

In [3]:
VZ2.head()

,CRASHNUM,COUNT,DR_AGE,VEH_SPEED,Speed_LIMIT,CALYEAR,DAYOFWEEK,WEATH,LTCOND,NEIGHBORHOOD,Ped_AGE
0,818743120,1,40,35,40,2011,Saturday,clear,dark-lighted,Coral Gables,60
1,817219370,1,0,5,35,2011,Sunday,clear,daylight,North Miami Beach,56
2,818746210,1,29,10,30,2011,Friday,clear,dark-lighted,Coral Gables,30
3,817219810,1,58,10,35,2011,Monday,clear,dark-lighted,North Miami Beach,43
4,815569390,1,50,10,25,2011,Monday,clear,daylight,Bay Harbor Islands,44

In [4]:
from plotly.graph_objs import *

In [5]:
# for filtering out 0 from a list USE list(filter(lambda a: a != 0 , x))

In [6]:
import cufflinks as cf

In [8]:
VZ2.columns

Index(['CRASHNUM', 'COUNT', 'DR_AGE', 'VEH_SPEED', 'Speed_LIMIT', 'CALYEAR',
       'DAYOFWEEK', 'WEATH', 'LTCOND', 'NEIGHBORHOOD', 'Ped_AGE'],
      dtype='object')

In [9]:
AGE = VZ2[['DR_AGE','Ped_AGE']]

In [13]:
AGE.head()

   DR_AGE  Ped_AGE
0      40       60
1       0       56
2      29       30
3      58       43
4      50       44

In [18]:
AGE.info

<bound method DataFrame.info of       DR_AGE  Ped_AGE
0         40       60
1          0       56
2         29       30
3         58       43
4         50       44
5         24       38
6          0       27
7         64       35
8         21       46
9         24       52
10        55       43
11        48       38
12        62       25
13        30       21
14        22       41
15        50       38
16        26       53
17        18       70
18        49       21
19         0       43
20        31       30
21         0       67
22        40       14
23        72       47
24        63       52
25        52       61
26        46       22
27        25       56
28        34       18
29        42       21
...      ...      ...
3297      47       42
3298      26       52
3299      50       20
3300      24       35
3301      30       42
3302      23       21
3303      86       52
3304      65       66
3305      25       31
3306      65       60
3307       0       54
3308      34       30
3309      25       35
3310       0       39
3311       0       28
3312       0       55
3313      55       52
3314      69       57
3315      39       69
3316      81       55
3317      22        0
3318      47       79
3319      62       19
3320       0       38
3321      40       46
3322      53       41
3323      83       63
3324      33       28
3325      77       63
3326      23       35

[3327 rows x 2 columns]>

In [17]:
layout = dict(title = "cufflinks pd", xaxis = dict(title= 'x'), yaxis= dict(title ='y')
AGE.iplot(filename ='cf-charted',layout =layout)

SyntaxError: invalid syntax (<ipython-input-17-e7ab3d123f07>, line 2)