In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import folium as f

In [ ]:
import geopy
from geopy.geocoders import Photon
geolocator = Photon(user_agent= 'my_application')

In [ ]:
def geolocate(city=None,country =None):
    if city != None:
        try:
            loc = geolocator.geocode(str(city + ',' + country))
            return (loc.latitude,loc.longitude)
        except:
            return np.nan
        else:
            try:
                loc = geolocator.geocode(country)
                return(loc.latitude,loc.longitude)
            except:
                return np.nan

In [ ]:
geolocate(city = 'San Francisco', country = 'USA')

In [16]:
geolocate(city = 'Miami', country = 'USA')

(26.069846, -80.4168389806438)

In [17]:
n = pd.read_csv('C:/Users/mjc341/Desktop/InteractionsbyMonth/INT_DEM.csv',skipfooter=5,encoding='latin-1',engine ='python')

In [18]:
len(n)

1477162

In [24]:
n1= n[['Contact: Contact ID (18-digit)','Contact: Mailing City','Contact: Mailing Country']]
n1.columns = ['ID','City','Country']
n1=n1.dropna()
USn1 = n1[n1['Country'] == 'United States']

In [25]:
len(USn1)

1351610

In [52]:
USn2 = USn1.loc[:50000]

In [53]:
USn2.head(4)

                     ID            City        Country
9    0031500001dIhgAAAS         Pandora  United States
29   0031500001dImV8AAK          Parlin  United States
130  0031500001dQCfEAAW  West Jefferson  United States
143  0031500001fFVKdAAO           Miami  United States

In [54]:
USn2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48853 entries, 9 to 100000
Data columns (total 3 columns):
ID         48853 non-null object
City       48853 non-null object
Country    48853 non-null object
dtypes: object(3)
memory usage: 1.5+ MB

In [55]:
len(USn2)

48853

In [56]:
len(USn1)

1351610

In [ ]:
city = USn2['City'].values
list_cities = city.tolist()
data = []
for i in list_cities:
    xy = geolocate(city  = i, country = 'USA')
    data.append(xy)
tomap = pd.DataFrame(data)
tomap.head(40)