In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import folium as f

In [2]:
import geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [3]:
def geolocate(city=None,country =None):
    if city != None:
        try:
            loc = geolocator.geocode(str(city + ',' + country))
            return (loc.latitude,loc.longitude)
        except:
            return np.nan
        else:
            try:
                loc = geolocator.geocode(country)
                return(loc.latitude,loc.longitude)
            except:
                return np.nan

In [4]:
n = pd.read_csv('C:/Users/mjc341/Desktop/InteractionsbyMonth/INT_DEM.csv',skipfooter=5,encoding='latin-1',engine ='python')

In [5]:
len(n)

1477162

In [5]:
geolocate(city = 'San Francisco', country = 'USA')

nan

In [6]:
n1= n[['Contact: Contact ID (18-digit)','Contact: Mailing City','Contact: Mailing Country']]

In [7]:
#len(n1)

In [7]:
n1=n1.dropna()

In [8]:
len(n1)

1433986

In [9]:
n1.columns = ['ID','City','Country']

In [12]:
USn1 = n1[n1['Country'] == 'United States']

In [13]:
len(USn1)

1351610

In [20]:
USn2 = USn1.loc[:50]

In [21]:
len(USn2)

2

In [17]:
len(USn1)

1351610

In [22]:
USn3 = USn1.loc[:50]

In [23]:
USn3

                    ID     City        Country
9   0031500001dIhgAAAS  Pandora  United States
29  0031500001dImV8AAK   Parlin  United States

In [24]:
USn4 = USn1[:500]

In [26]:
USn4.head(10)

                     ID            City        Country
9    0031500001dIhgAAAS         Pandora  United States
29   0031500001dImV8AAK          Parlin  United States
130  0031500001dQCfEAAW  West Jefferson  United States
143  0031500001fFVKdAAO           Miami  United States
168  0031500001dIsUbAAK         Memphis  United States
200  0031500001dKDPOAA4    Breckenridge  United States
231  0031500001dPrtPAAS       Palm City  United States
248  0031500001dPs2pAAC         Maspeth  United States
263  0031500001dJr7HAAS        Aventura  United States
279  0031500001dQCz9AAG        Parkland  United States

In [28]:
city = USn4['City'].values

In [29]:
list_cities = city.tolist()

In [30]:
data = []
for i in list_cities:
    xy = geolocate(city  = i, country = 'USA')
    data.append(xy)
tomap = pd.DataFrame(data)
tomap.head(40)

     0
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN
5  NaN
6  NaN
7  NaN
8  NaN
9  NaN
10 NaN
11 NaN
12 NaN
13 NaN
14 NaN
15 NaN
16 NaN
17 NaN
18 NaN
19 NaN
20 NaN
21 NaN
22 NaN
23 NaN
24 NaN
25 NaN
26 NaN
27 NaN
28 NaN
29 NaN
30 NaN
31 NaN
32 NaN
33 NaN
34 NaN
35 NaN
36 NaN
37 NaN
38 NaN
39 NaN

In [34]:
geolocate(city = 'West Jefferson', country = 'USA')

nan

In [33]:
city

array(['Pandora', 'Parlin', 'West Jefferson', 'Miami', 'Memphis',
       'Breckenridge', 'Palm City', 'Maspeth', 'Aventura', 'Parkland',
       'Miami', 'Detroit', 'West Orange', 'Miramar', 'Miami', 'Ocoee',
       'Miami', 'Sanford', 'Boca Raton', 'Elizabeth', 'New Orleans',
       'Miami', 'Port Saint Lucie', 'Jersey', 'Lake worth', 'Albuquerque',
       'Culver', 'Fort Walton', 'Millbrook', 'Coral Springs',
       'Perth Amboy', 'New York', 'Plano', 'North Miami Beach',
       'Leesburg', 'Perth Amboy', 'St. Thomas', 'New York', 'Miami',
       'Phenix City', 'Bridgewater', 'Flushing', 'Miami', 'Goldsboro',
       'Woodruff', 'South Amboy', 'Scotch Plains', 'Washington', 'Miami',
       'Pittsburgh'], dtype=object)

In [37]:
geolocate(city = 'San Francisco', country = 'USA')

nan