In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import folium as f

In [25]:
df = pd.read_csv('C:/Users/mjc341/Desktop/InteractionsbyMonth/INT_DEM.csv',skipfooter=5,encoding='latin-1',engine ='python')

In [26]:
len(df)

1477162

In [27]:
df1= df[['Contact: Contact ID (18-digit)','Contact: Mailing City','Contact: Mailing Country']]

In [28]:
len(df1)

1477162

In [29]:
df1=df1.dropna()

In [30]:
len(df1)

1433986

In [31]:
df1.columns = ['ID','City','Country']

In [32]:
df1.head(3)

                    ID     City        Country
9   0031500001dIhgAAAS  Pandora  United States
29  0031500001dImV8AAK   Parlin  United States
33  0031500001dIh14AAC   Mangaf         Kuwait

In [37]:
# apply a filter 
USdf1 = df1['Country'] == 'United States'

In [34]:
len(USdf1)

1433986

In [38]:
USdf1.head(10)

9      True
29     True
33    False
43    False
44    False
47    False
49    False
52    False
60    False
62    False
Name: Country, dtype: bool

In [39]:
USdf1 = df1[df1['Country'] == 'United States']

In [40]:
len(USdf1)

1351610

In [56]:
tst = USdf1.loc[:50, ['City','Country']]

In [64]:
city = USdf1['City'].values

In [65]:
list_cities = city.tolist()

In [59]:
import geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [60]:
def geolocate(city=None,country =None):
    if city != None:
        try:
            loc = geolocator.geocode(str(city + ',' + country))
            return (loc.latitude,loc.longitude)
        except:
            return np.nan
        else:
            try:
                loc = geolocator.geocode(country)
                return(loc.latitude,loc.longitude)
            except:
                return np.nan

In [51]:
data = []
for i in list_cities:
    xy = geolocate(city  = i, country = 'USA')
    data.append(xy)
tomap = pd.DataFrame(data)
tomap.head(40)

           0          1
0  40.948108 -83.961054
1  40.462050 -74.338204

In [52]:
for i in list_cities:
    xy = geolocate(city  = i, country = 'USA')
    print(xy)

(40.9481079, -83.9610538)
(40.4620504, -74.3382037)

In [67]:
len('list_cities')

11

In [ ]:
USdf1.head()