In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

In [83]:
# MODIFY THIS LINE!!!
# Step 1: Save raw COD files from all campuses into separate directory to be referenced below
# Set path of directory with saved COD files and define all data file names from all campuses
# Set string aid_year long description based on the first Pell filename
path =r'C:/Users/mjc341/Desktop/Pell/08.13 Update'
path_final =r'C:/Users/mjc341/Desktop/Pell/Final Versions'
filename = path + "/pgyr18op.***"

In [84]:
filename

'C:/Users/mjc341/Desktop/Pell/08.13 Update/pgyr18op.***'

In [85]:
aid_year = '20' + str((int(filename[-8:-6])-1)) + '-20' + filename[-8:-6]
date = path[-12:-7]

In [86]:
# Aid Year string for Pell Reconciliation
aid_year

'2017-2018'

In [87]:
date

'08.13'

In [88]:
#pell_orig = pd.read_fwf(path + "/pgyr18op.017", colspecs=[(0,1),(1,24),(24,33),(33,35),(35,41),(41,46),(46,59),(59,60),(60,61),
 #                                                  (61,68),(68,76),(76,84),(84,92),(92,100),(100,108),(108,116),(116,124),
  #                                                 (124,132),(132,140),(140,148),(148,156),(156,164),(164,172),(172,180),
   #                                                (180,188),(188,196),(196,197),(197,198),(198,199),(199,201),(201,207),
    #                                               (207,208),(208,209),(209,216),(216,217),(217,229),(229,232),(232,250),
     #                                              (250,251),(251,256),(256,272),(272,284),(284,285),(285,294),(294,302),
      #                                             (302,303),(303,310),(310,312),(312,314),(314,316),(316,324),(324,326),
       #                                            (326,336),(336,344),(344,350)], skiprows=1, header=None)

In [89]:
#pell_orig

In [90]:
#len(pell_orig)

In [91]:
# Select records from COD PELL file with 1st column = O
#pell_orig_only = pell_orig[pell_orig[0]=='O']

In [92]:
#pell_orig_only.head(3)

In [93]:
# MODIFY FILENAME FOR NEW COD PELL FILE
pell_disb = pd.read_fwf(path + "/pgyr18op.026", colspecs=[(0,1),(1,24),(24,37),(37,38),(38,40),(40,47),(47,48),(48,56),(56,57),
                                                   (57,65),(65,72),(72,79),(79,129),(129,137),(137,145),(145,149),(149,155),
                                                   (155,171),(171,183),(183,184),(184,193),(193,201),(201,203),(203,204),
                                                   (204,206),(206,213),(213,220),(220,221),(221,226),(226,231),(231,237),
                                                   (237,238),(238,240),(240,246),(246,349)], skiprows=1, header=None)

In [94]:
pell_disb

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,O,NaN,001885925CO00,1,53,6 0,0,1885925C,O,00A 0193,...,6 4601,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03870COLBY CHRISTIANA L001885925199...
1,D,NaN,001885925CO00,A,1,0193500,P,20170811,NaN,NaN,...,0400008,26.0101,L,4000.0,NaN,NaN,N,3.0,NaN,NaN
2,O,NaN,001906044TI00,1,53,6 0,0,1906044T,I,00A 0592,...,0 2908,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05920TINDLE ROBERT S001906044199...
3,D,NaN,001906044TI00,A,1,0296000,P,20170811,NaN,NaN,...,0400000,50.0904,L,4000.0,NaN,NaN,N,3.0,NaN,NaN
4,D,NaN,001906044TI00,A,2,0296000,P,20180108,NaN,NaN,...,0400000,50.0904,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5,O,NaN,001926085GH00,1,53,6 0,0,1926085G,H,00A 0592,...,0 4275,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05920GHADDAR TAREK M001926085199...
6,D,NaN,001926085GH00,A,1,0296000,P,20170811,NaN,NaN,...,0200000,26.0202,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
7,D,NaN,001926085GH00,A,2,0296000,P,20180108,NaN,NaN,...,0200000,26.0202,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
8,O,NaN,002905066PO00,1,53,6 0,0,2905066P,O,00A 0367,...,8 4617,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03670PORTER EVAN A002905066199...
9,D,NaN,002905066PO00,A,1,0183500,P,20170811,NaN,NaN,...,0100000,52.0801,H,4000.0,NaN,NaN,N,3.0,NaN,NaN
10,D,NaN,002905066PO00,A,2,0183500,P,20180108,NaN,NaN,...,0100000,52.0801,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
11,O,NaN,003926080PA00,1,53,6 0,0,3926080P,A,00A 0127,...,3 4291,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01270PARAGGIO CHRISTINA L003926080199...
12,D,NaN,003926080PA00,A,1,0063500,P,20170811,NaN,NaN,...,0100000,26.0508,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
13,D,NaN,003926080PA00,A,2,0063500,P,20180108,NaN,NaN,...,0100000,26.0508,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
14,O,NaN,004988476GA00,1,53,6 0,0,4988476G,A,00A 0207,...,3 4291,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02070GALLANT JORDAN L004988476199...
15,D,NaN,004988476GA00,A,1,0103500,P,20170811,NaN,NaN,...,0200000,26.0908,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
16,D,NaN,004988476GA00,A,2,0103500,P,20180108,NaN,NaN,...,0200000,40.0501,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
17,O,NaN,005026317DI00,1,53,6 0,0,5026317D,I,00A 0592,...,0 3083,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05920DION J'WANA 005026317199...
18,D,NaN,005026317DI00,A,1,0098700,P,20170529,NaN,NaN,...,0200000,38.0101,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
19,D,NaN,005026317DI00,A,2,0246700,P,20170811,NaN,NaN,...,0200000,38.0101,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
20,D,NaN,005026317DI00,A,3,0246600,P,20180108,NaN,NaN,...,0200000,38.0101,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
21,O,NaN,005967922SM00,1,53,6 0,0,5967922S,M,00A 0587,...,0 4291,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05870SMYTH MACKENZIE L005967922199...
22,D,NaN,005967922SM00,A,1,0293500,P,20170811,NaN,NaN,...,0400000,26.0101,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
23,D,NaN,005967922SM00,A,2,0293500,P,20180108,NaN,NaN,...,0400000,26.0101,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
24,O,NaN,007949253CO00,1,53,6 0,0,7949253C,O,00A 0147,...,8 4616,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01470CORKERY JACK O007949253199...
25,D,NaN,007949253CO00,A,1,0073500,P,20170811,NaN,NaN,...,0100000,14.1001,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
26,D,NaN,007949253CO00,A,2,0073500,P,20180108,NaN,NaN,...,0100000,14.1001,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
27,O,NaN,009826545KL00,1,53,6 0,0,9826545K,L,00A 0587,...,0 4291,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05870KLEIN TEAGAN B009826545199...
28,D,NaN,009826545KL00,A,1,0293500,P,20170811,NaN,NaN,...,0100000,50.0999,L,4000.0,NaN,NaN,N,3.0,NaN,NaN
29,D,NaN,009826545KL00,A,2,0293500,P,20180108,NaN,NaN,...,0100000,50.0999,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5636,D,NaN,846011507PO00,A,2,0283500,P,20180108,NaN,NaN,...,0200000,52.0801,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5637,O,NaN,848722093SM00,1,53,6 8,4,8722093S,M,00A 0407,...,4 2908,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04070SMITH STEPHANIE Z848722093199...
5638,D,NaN,848722093SM00,A,1,0213500,P,20170811,NaN,NaN,...,0350000,26.0101,Q,4000.0,NaN,NaN,N,3.0,NaN,NaN
5639,D,NaN,848722093SM00,A,1,0203500,P,20171017,NaN,NaN,...,0350000,26.0101,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5640,D,NaN,848722093SM00,A,2,0203500,P,20180108,NaN,NaN,...,0350000,26.0101,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5641,O,NaN,851784377CR00,1,53,6 8,5,1784377C,R,00A 0592,...,0 4601,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05920CRUZ GABRIELA 851784377199...
5642,D,NaN,851784377CR00,A,1,0098700,P,20170519,NaN,NaN,...,0150008,54.0101,H,4000.0,NaN,NaN,N,3.0,NaN,NaN
5643,D,NaN,851784377CR00,A,2,0246700,P,20170811,NaN,NaN,...,0150008,54.0101,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5644,D,NaN,851784377CR00,A,3,0246600,P,20180108,NaN,NaN,...,0150008,54.0101,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5645,O,NaN,853707374MA00,1,53,6 8,5,3707374M,A,00A 0126,...,3 2301,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03370MASVEYRAUD DANIEL 853707374199...
5646,D,NaN,853707374MA00,A,1,0168500,P,20180110,NaN,NaN,...,0050000,45.0601,L,4000.0,NaN,NaN,N,3.0,NaN,NaN
5647,D,NaN,853707374MA00,A,1,0126400,P,20180110,NaN,NaN,...,0050000,45.0601,Q,4000.0,NaN,NaN,N,3.0,NaN,NaN
5648,D,NaN,853707374MA00,A,1,0000000,P,20180110,NaN,NaN,...,0050000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5649,O,NaN,878575505BL00,1,53,6 8,7,8575505B,L,00A 0592,...,0 4291,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05920BLOINSKI LAIS K878575505199...
5650,D,NaN,878575505BL00,A,1,0296000,P,20170811,NaN,NaN,...,0200000,26.0508,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5651,D,NaN,878575505BL00,A,2,0296000,P,20180108,NaN,NaN,...,0200000,26.0508,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5652,O,NaN,884799883LO00,1,53,6 8,8,4799883L,O,00A 0437,...,6 2908,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04370LOZADA MARIA E884799883199...
5653,D,NaN,884799883LO00,A,1,0218500,P,20170811,NaN,NaN,...,0425017,14.0501,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5654,D,NaN,884799883LO00,A,2,0218500,P,20180108,NaN,NaN,...,0425017,14.0501,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5655,O,NaN,895408259SA00,1,53,6 8,9,5408259S,A,00A 0587,...,0 4601,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05870SAAB RIM 895408259199...
5656,D,NaN,895408259SA00,A,1,0293500,P,20170811,NaN,NaN,...,0200000,26.0101,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5657,D,NaN,895408259SA00,A,2,0293500,P,20180108,NaN,NaN,...,0200000,26.0101,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5658,O,NaN,897121084PE00,1,53,6 8,9,7121084P,E,00A 0207,...,6 2908,800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02070PEREZ LAURA D897121084199...
5659,D,NaN,897121084PE00,A,1,0103500,P,20170811,NaN,NaN,...,0300000,51.0000,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5660,D,NaN,897121084PE00,A,2,0103500,P,20180108,NaN,NaN,...,0300000,51.0000,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5661,O,NaN,897950590FR00,1,53,6 8,9,7950590F,R,00A 0577,...,0 4275,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05770FREITAS JULIA A897950590199...
5662,D,NaN,897950590FR00,A,1,0288500,P,20170811,NaN,NaN,...,0100000,24.0102,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5663,D,NaN,897950590FR00,A,2,0288500,P,20180108,NaN,NaN,...,0100000,24.0102,F,4000.0,NaN,NaN,N,3.0,NaN,NaN
5664,S,00017490001816000181600,0000000000000,0,3,8480003,8,48000000,0,0000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5665,G,RANT TLR 0350#Y20180015,3620180808154,1,57,0056650,0,00000000,0,P0056650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
len(pell_disb)

5666

In [96]:
# Select records from COD PELL file with 1st column = D
pell_disb_only = pell_disb[pell_disb[0]=='D']

In [97]:
len(pell_disb_only)

3848

In [98]:
pell_disb_only = pell_disb_only.reset_index(drop=True)

In [99]:
pell_disb_only[20] = pell_disb_only[20].astype(int)

In [100]:
pell_disb_only[20].head(3)

0    1885925
1    1906044
2    1906044
Name: 20, dtype: int32

In [102]:
pell_disb_header = pell_disb_only.rename(columns={pell_disb_only.columns[0]: "YTD Record Indicator", 
                               pell_disb_only.columns[1]: "Unused", 
                               pell_disb_only.columns[2]: "Disbursement Cross-Reference", 
                               pell_disb_only.columns[3]: "Action Code", 
                               pell_disb_only.columns[4]: "Disbursement Number", 
                               pell_disb_only.columns[5]: "Accepted Disbursement Amount", 
                               pell_disb_only.columns[6]: "Accepted Sign Indicator", 
                               pell_disb_only.columns[7]: "Disbursement Date", 
                               pell_disb_only.columns[8]: "Unused", 
                               pell_disb_only.columns[9]: "Payment Period Start Date", 
                               pell_disb_only.columns[10]: "Percent Eligibility Used by Scheduled Award", 
                               pell_disb_only.columns[11]: "Total Percent Eligibility Used", 
                               pell_disb_only.columns[12]: "Unused", 
                               pell_disb_only.columns[13]: "Disbursement Process Date", 
                               pell_disb_only.columns[14]: "Routing ID", 
                               pell_disb_only.columns[15]: "Financial Award Year", 
                               pell_disb_only.columns[16]: "Attended Campus Pell-ID", 
                               pell_disb_only.columns[17]: "Student's Last Name", 
                               pell_disb_only.columns[18]: "Student's First Name", 
                               pell_disb_only.columns[19]: "Student's Middle Initial", 
                               pell_disb_only.columns[20]: "Student's Current NID", 
                               pell_disb_only.columns[21]: "Student's Date of Birth", 
                               pell_disb_only.columns[22]: "Disbursement Sequence Number", 
                               pell_disb_only.columns[23]: "Disbursement Release Indicator", 
                               pell_disb_only.columns[24]: "Previous Disbursement Sequence Number", 
                               pell_disb_only.columns[25]: "Lifetime Eligibility Used", 
                               pell_disb_only.columns[26]: "Program CIP Code", 
                               pell_disb_only.columns[27]: "Enrollment Status", 
                               pell_disb_only.columns[28]: "Published Program Length Years", 
                               pell_disb_only.columns[29]: "Published Program Length Months", 
                               pell_disb_only.columns[30]: "Published Program Length Weeks", 
                               pell_disb_only.columns[31]: "Special Program Indicator", 
                               pell_disb_only.columns[32]: "Program Credential Level", 
                               pell_disb_only.columns[33]: "Weeks Programs Academic Year", 
                               pell_disb_only.columns[34]: "Unused"})

In [103]:
pell_disb_header.head(3)

,YTD Record Indicator,Unused,Disbursement Cross-Reference,Action Code,Disbursement Number,Accepted Disbursement Amount,Accepted Sign Indicator,Disbursement Date,Unused,Payment Period Start Date,...,Lifetime Eligibility Used,Program CIP Code,Enrollment Status,Published Program Length Years,Published Program Length Months,Published Program Length Weeks,Special Program Indicator,Program Credential Level,Weeks Programs Academic Year,Unused
0,D,NaN,001885925CO00,A,1,0193500,P,20170811,NaN,NaN,...,0400008,26.0101,L,4000.0,NaN,NaN,N,3.0,NaN,NaN
1,D,NaN,001906044TI00,A,1,0296000,P,20170811,NaN,NaN,...,0400000,50.0904,L,4000.0,NaN,NaN,N,3.0,NaN,NaN
2,D,NaN,001906044TI00,A,2,0296000,P,20180108,NaN,NaN,...,0400000,50.0904,F,4000.0,NaN,NaN,N,3.0,NaN,NaN

In [104]:
pell_disb_header["Accepted Disbursement Amount"] = pell_disb_header["Accepted Disbursement Amount"].str[0:5]
pell_disb_header["Accepted Disbursement Amount"] = pell_disb_header["Accepted Disbursement Amount"].astype(int)

In [105]:
pell_disb_header.head(3)

,YTD Record Indicator,Unused,Disbursement Cross-Reference,Action Code,Disbursement Number,Accepted Disbursement Amount,Accepted Sign Indicator,Disbursement Date,Unused,Payment Period Start Date,...,Lifetime Eligibility Used,Program CIP Code,Enrollment Status,Published Program Length Years,Published Program Length Months,Published Program Length Weeks,Special Program Indicator,Program Credential Level,Weeks Programs Academic Year,Unused
0,D,NaN,001885925CO00,A,1,1935,P,20170811,NaN,NaN,...,0400008,26.0101,L,4000.0,NaN,NaN,N,3.0,NaN,NaN
1,D,NaN,001906044TI00,A,1,2960,P,20170811,NaN,NaN,...,0400000,50.0904,L,4000.0,NaN,NaN,N,3.0,NaN,NaN
2,D,NaN,001906044TI00,A,2,2960,P,20180108,NaN,NaN,...,0400000,50.0904,F,4000.0,NaN,NaN,N,3.0,NaN,NaN

In [106]:
#pell_disb_header["Student's Current NID"] = pell_disb_header["Student's Current NID"].astype(str)

In [107]:
pell_disb_header["Student's Current NID"].head(3)

0    1885925
1    1906044
2    1906044
Name: Student's Current NID, dtype: int32

In [108]:
pell_disb_total = pd.DataFrame({'NID': pell_disb_header["Student's Current NID"], 
                                'Total Disb Amt': pell_disb_header['Accepted Disbursement Amount']})

In [109]:
pell_disb_total.dtypes

NID               int32
Total Disb Amt    int32
dtype: object

In [110]:
pell_disb_total.head(10)

       NID  Total Disb Amt
0  1885925            1935
1  1906044            2960
2  1906044            2960
3  1926085            2960
4  1926085            2960
5  2905066            1835
6  2905066            1835
7  3926080             635
8  3926080             635
9  4988476            1035

In [111]:
len(pell_disb_total)

3848

In [112]:
pell_booked = pell_disb_total.groupby(["NID"], as_index=False).aggregate(np.sum)

In [113]:
len(pell_booked)

1749

In [114]:
pell_booked.head(3)

       NID  Total Disb Amt
0  1885925            1935
1  1906044            5920
2  1926085            5920

In [115]:
# Write COD Pell file to Excel
COD_to_excel = pd.ExcelWriter(path + "/pell_booked_COD.xlsx")
pell_booked.to_excel(COD_to_excel,'Sum by NID', index=False)
pell_disb_header.to_excel(COD_to_excel,'Orig Pell Flatfile', index=False)

COD_to_excel.save()

In [116]:
# MODIFY THIS LINE UNTIL AUTOMATED
# Open CaneLink Pell Disbursement file regardless of the suffix added to filename by CaneLink Query Manager
canelink_pell_disb = pd.read_excel(path + "/AG_ALL_DISB_BY_YEAR_PELL_8_13.xlsx", skiprows=1, index_col=False)

In [117]:
len(canelink_pell_disb)

2328

In [118]:
canelink_pell_disb.head(3)

         ID  Aid Yr        NID  SUM(A.DISBURSED_BALANCE)
0  50085120    2018  767077535                    1118.0
1  50047352    2018  592906876                    4193.0
2  50089825    2018  594041263                    3947.0

In [119]:
canelink_pell_disb.dtypes

ID                            int64
Aid Yr                        int64
NID                           int64
SUM(A.DISBURSED_BALANCE)    float64
dtype: object

In [120]:
# Bring DOE Accepted Disbursement Amount into CL file and join by NID
pell_compare = canelink_pell_disb.merge(pell_booked[['NID','Total Disb Amt']],on="NID",how='left')

In [121]:
#Replace NaN values with 0 for Accepted Disbursement Amount
pell_compare = pell_compare.fillna(value={'Total Disb Amt':0})

In [122]:
pell_compare.head(10)

         ID  Aid Yr        NID  SUM(A.DISBURSED_BALANCE)  Total Disb Amt
0  50085120    2018  767077535                    1118.0          1118.0
1  50047352    2018  592906876                    4193.0          9867.0
2  50089825    2018  594041263                    3947.0          4677.0
3  50111300    2018  103740765                       0.0             0.0
4  50241716    2018  594179682                     485.0           485.0
5  50241884    2018   92788269                       0.0             0.0
6  50397028    2018   84848142                    1070.0          1070.0
7  50397616    2018  593496872                    4470.0          4470.0
8  50397677    2018  590478364                    5920.0          5920.0
9  50395844    2018  260912858                    5920.0          5920.0

In [123]:
len(pell_compare)

2328

In [124]:
# Add discrepancy column (difference between CL disbursed balance and DL Total net amt)
pell_compare['DISCREPANCY'] = pell_compare['SUM(A.DISBURSED_BALANCE)'] - pell_compare['Total Disb Amt']

In [125]:
pell_compare.head(3)

,ID,Aid Yr,NID,SUM(A.DISBURSED_BALANCE),Total Disb Amt,DISCREPANCY
0,50085120,2018,767077535,1118.0,1118.0,0.0
1,50047352,2018,592906876,4193.0,9867.0,-5674.0
2,50089825,2018,594041263,3947.0,4677.0,-730.0

In [126]:
len(pell_compare)

2328

In [127]:
# Coding for Match Status column
pell_compare.loc[pell_compare['DISCREPANCY'] == 0, 'Match Status'] = 'Booked, Matched'
pell_compare.loc[(pell_compare['DISCREPANCY'] > 0) & (pell_compare['Total Disb Amt'] == 0), 'Match Status'] = 'Unbooked'
pell_compare.loc[(pell_compare['DISCREPANCY'] > 0) & (pell_compare['Total Disb Amt'] != 0) & (pell_compare['SUM(A.DISBURSED_BALANCE)'] != 0), 'Match Status'] = 'Booked, Mismatched'
pell_compare.loc[pell_compare['DISCREPANCY'] < 0, 'Match Status'] = 'Booked, Other'

In [128]:
pell_compare.head(49)

,ID,Aid Yr,NID,SUM(A.DISBURSED_BALANCE),Total Disb Amt,DISCREPANCY,Match Status
0,50085120,2018,767077535,1118.0,1118.0,0.0,"Booked, Matched"
1,50047352,2018,592906876,4193.0,9867.0,-5674.0,"Booked, Other"
2,50089825,2018,594041263,3947.0,4677.0,-730.0,"Booked, Other"
3,50111300,2018,103740765,0.0,0.0,0.0,"Booked, Matched"
4,50241716,2018,594179682,485.0,485.0,0.0,"Booked, Matched"
5,50241884,2018,92788269,0.0,0.0,0.0,"Booked, Matched"
6,50397028,2018,84848142,1070.0,1070.0,0.0,"Booked, Matched"
7,50397616,2018,593496872,4470.0,4470.0,0.0,"Booked, Matched"
8,50397677,2018,590478364,5920.0,5920.0,0.0,"Booked, Matched"
9,50395844,2018,260912858,5920.0,5920.0,0.0,"Booked, Matched"
10,50368220,2018,767882799,0.0,0.0,0.0,"Booked, Matched"
11,50352951,2018,528991009,0.0,0.0,0.0,"Booked, Matched"
12,50400152,2018,589471684,3570.0,3570.0,0.0,"Booked, Matched"
13,50400357,2018,36649989,2960.0,2960.0,0.0,"Booked, Matched"
14,50405643,2018,226758796,2960.0,2960.0,0.0,"Booked, Matched"
15,50404335,2018,97845572,2960.0,2960.0,0.0,"Booked, Matched"
16,50399095,2018,589539259,7456.0,8617.0,-1161.0,"Booked, Other"
17,50416442,2018,186422455,2960.0,8880.0,-5920.0,"Booked, Other"
18,50423296,2018,127848825,2470.0,2470.0,0.0,"Booked, Matched"
19,50423176,2018,592571270,5270.0,5270.0,0.0,"Booked, Matched"
20,50431762,2018,590690975,5470.0,5470.0,0.0,"Booked, Matched"
21,50424469,2018,70863908,4970.0,4970.0,0.0,"Booked, Matched"
22,50421560,2018,400513474,3670.0,3670.0,0.0,"Booked, Matched"
23,50424983,2018,51867616,5070.0,7655.0,-2585.0,"Booked, Other"
24,50425673,2018,340924448,3470.0,3470.0,0.0,"Booked, Matched"
25,50428189,2018,715554269,5920.0,5920.0,0.0,"Booked, Matched"
26,50422858,2018,385198781,0.0,0.0,0.0,"Booked, Matched"
27,50424577,2018,341929610,5920.0,5920.0,0.0,"Booked, Matched"
28,50442775,2018,594576115,2670.0,2670.0,0.0,"Booked, Matched"
29,50457036,2018,768488468,5920.0,5920.0,0.0,"Booked, Matched"
30,50437569,2018,589613136,5870.0,5870.0,0.0,"Booked, Matched"
31,50438526,2018,137026477,4170.0,4170.0,0.0,"Booked, Matched"
32,50438777,2018,769402923,5920.0,5920.0,0.0,"Booked, Matched"
33,50439434,2018,589632039,1070.0,1070.0,0.0,"Booked, Matched"
34,50449526,2018,848722093,4070.0,6205.0,-2135.0,"Booked, Other"
35,50444064,2018,342926245,3970.0,3970.0,0.0,"Booked, Matched"
36,50440040,2018,618887790,4570.0,4570.0,0.0,"Booked, Matched"
37,50440422,2018,592619254,3170.0,3170.0,0.0,"Booked, Matched"
38,50440426,2018,591611098,5770.0,5770.0,0.0,"Booked, Matched"
39,50449044,2018,592597422,2135.0,2135.0,0.0,"Booked, Matched"
40,50436696,2018,61862065,5920.0,5920.0,0.0,"Booked, Matched"
41,50436855,2018,591636061,5920.0,5920.0,0.0,"Booked, Matched"
42,50444768,2018,768308984,5770.0,5770.0,0.0,"Booked, Matched"
43,50455992,2018,629522710,5770.0,5770.0,0.0,"Booked, Matched"
44,50457933,2018,769245255,5870.0,5870.0,0.0,"Booked, Matched"
45,50453851,2018,589617576,3670.0,3670.0,0.0,"Booked, Matched"
46,50451822,2018,192760332,5920.0,5920.0,0.0,"Booked, Matched"
47,50463904,2018,22901879,4270.0,4270.0,0.0,"Booked, Matched"
48,50478205,2018,770104847,5920.0,5920.0,0.0,"Booked, Matched"

In [129]:
# Select Unbooked and Mismatched loans only
pell_unbooked_mismatched = pell_compare.loc[(pell_compare['Match Status'] == "Unbooked") | (pell_compare['Match Status'] == "Booked, Mismatched")]

In [130]:
len(pell_unbooked_mismatched)

20

In [131]:
pell_unbooked_mismatched.head(3)

,ID,Aid Yr,NID,SUM(A.DISBURSED_BALANCE),Total Disb Amt,DISCREPANCY,Match Status
53,50474967,2018,590490014,2588.0,2070.0,518.0,"Booked, Mismatched"
132,54168307,2018,594712754,8880.0,7400.0,1480.0,"Booked, Mismatched"
133,54179060,2018,591798569,8206.0,5920.0,2286.0,"Booked, Mismatched"

In [132]:
# Select loans booked in COD Pell file that have any amount not disbursed in CaneLink
pell_cod_not_in_canelink = pell_compare.loc[pell_compare['Match Status'] == "Booked, Other"]

In [133]:
len(pell_cod_not_in_canelink)

254

In [134]:
pell_cod_not_in_canelink.head(3)

,ID,Aid Yr,NID,SUM(A.DISBURSED_BALANCE),Total Disb Amt,DISCREPANCY,Match Status
1,50047352,2018,592906876,4193.0,9867.0,-5674.0,"Booked, Other"
2,50089825,2018,594041263,3947.0,4677.0,-730.0,"Booked, Other"
16,50399095,2018,589539259,7456.0,8617.0,-1161.0,"Booked, Other"

In [135]:
pell_compare.pivot_table(index=["Match Status"],values=["Total Disb Amt"],
                      # columns=["Campus"], 
                         aggfunc=[np.sum,len],margins=True)

                              sum            len
                   Total Disb Amt Total Disb Amt
Match Status
Booked, Matched         6686928.0         2054.0
Booked, Mismatched        94817.0           19.0
Booked, Other           1435128.0          254.0
Unbooked                      0.0            1.0
All                     8216873.0         2328.0

In [136]:
len(pell_compare["Total Disb Amt"])

2328

In [137]:
pell_compare.head(3)

,ID,Aid Yr,NID,SUM(A.DISBURSED_BALANCE),Total Disb Amt,DISCREPANCY,Match Status
0,50085120,2018,767077535,1118.0,1118.0,0.0,"Booked, Matched"
1,50047352,2018,592906876,4193.0,9867.0,-5674.0,"Booked, Other"
2,50089825,2018,594041263,3947.0,4677.0,-730.0,"Booked, Other"

In [138]:
pell_compare_sum = pell_compare.loc[pell_compare['DISCREPANCY'] >= 0]

In [139]:
pell_compare_sum.head(3)

,ID,Aid Yr,NID,SUM(A.DISBURSED_BALANCE),Total Disb Amt,DISCREPANCY,Match Status
0,50085120,2018,767077535,1118.0,1118.0,0.0,"Booked, Matched"
3,50111300,2018,103740765,0.0,0.0,0.0,"Booked, Matched"
4,50241716,2018,594179682,485.0,485.0,0.0,"Booked, Matched"

In [140]:
len(pell_compare_sum)

2074

In [141]:
sum_prep = pd.DataFrame({'CaneLink Pell Disbursed Amt': pell_compare["SUM(A.DISBURSED_BALANCE)"],
                            'COD Total Disb Amt for Pell Disbursed in CaneLink': pell_compare["Total Disb Amt"],
                            'Net Discrepancy between COD and CaneLink': pell_compare["DISCREPANCY"]})

In [142]:
sum_prep.head(3)

,COD Total Disb Amt for Pell Disbursed in CaneLink,CaneLink Pell Disbursed Amt,Net Discrepancy between COD and CaneLink
0,1118.0,1118.0,0.0
1,9867.0,4193.0,-5674.0
2,4677.0,3947.0,-730.0

In [143]:
len(sum_prep)

2328

In [144]:
summary_prep = pd.DataFrame(data=sum_prep[["CaneLink Pell Disbursed Amt",
                         "COD Total Disb Amt for Pell Disbursed in CaneLink",
                         "Net Discrepancy between COD and CaneLink"]].sum())

In [145]:
summary_prep.index.names = ['AY '+aid_year+' as of '+date[1:5]]

In [146]:
summary_prep

                                                            0
AY 2017-2018 as of 8.13
CaneLink Pell Disbursed Amt                        7534035.78
COD Total Disb Amt for Pell Disbursed in CaneLink  8216873.00
Net Discrepancy between COD and CaneLink           -682837.22

In [147]:
sum_prep2_count = pd.DataFrame({'Unbooked + Mismatched Pell Count': pell_unbooked_mismatched["DISCREPANCY"]})
sum_prep2_sum = pd.DataFrame({'Sum of Unbooked + Mismatched Pell Disbursements': pell_unbooked_mismatched["DISCREPANCY"]})

In [148]:
sum_prep2_count.head(3)

     Unbooked + Mismatched Pell Count
53                              518.0
132                            1480.0
133                            2286.0

In [149]:
sum_prep2_sum.head(3)

     Sum of Unbooked + Mismatched Pell Disbursements
53                                             518.0
132                                           1480.0
133                                           2286.0

In [150]:
summary_prep2_count = pd.DataFrame(data=sum_prep2_count[["Unbooked + Mismatched Pell Count"]].count())
summary_prep2_sum = pd.DataFrame(data=sum_prep2_sum[["Sum of Unbooked + Mismatched Pell Disbursements"]].sum())

In [151]:
summary_prep2_count.index.names = ['AY '+aid_year+' as of '+date[1:5]]
summary_prep2_sum.index.names = ['AY '+aid_year+' as of '+date[1:5]]

In [152]:
summary_prep2_count

                                   0
AY 2017-2018 as of 8.13
Unbooked + Mismatched Pell Count  20

In [153]:
summary_prep2_sum

                                                        0
AY 2017-2018 as of 8.13
Sum of Unbooked + Mismatched Pell Disbursements  17810.95

In [154]:
sum_prep3_count = pd.DataFrame({'Number of students with COD disbursements not in PS': 
                          pell_cod_not_in_canelink["DISCREPANCY"]})
sum_prep3_sum = pd.DataFrame({'Sum of COD disbursements not in PS': 
                          pell_cod_not_in_canelink["DISCREPANCY"]})

In [155]:
sum_prep3_count.head(3)

    Number of students with COD disbursements not in PS
1                                             -5674.0
2                                              -730.0
16                                            -1161.0

In [156]:
sum_prep3_sum.head(3)

    Sum of COD disbursements not in PS
1                              -5674.0
2                               -730.0
16                             -1161.0

In [157]:
summary_prep3_count = pd.DataFrame(data=sum_prep3_count[['Number of students with COD disbursements not in PS']].count())
summary_prep3_sum = pd.DataFrame(data=sum_prep3_sum[['Sum of COD disbursements not in PS']].sum())

In [158]:
summary_prep3_count.index.names = ['AY '+aid_year+' as of '+date[1:5]]
summary_prep3_sum.index.names = ['AY '+aid_year+' as of '+date[1:5]]

In [159]:
summary_prep3_count

                                                      0
AY 2017-2018 as of 8.13
Number of students with COD disbursements not i...  254

In [160]:
summary_prep3_sum

                                            0
AY 2017-2018 as of 8.13
Sum of COD disbursements not in PS -700648.17

In [161]:
summary_concat = [summary_prep, summary_prep2_count, summary_prep2_sum, summary_prep3_count, summary_prep3_sum]
pell_summary = pd.concat(summary_concat)
pell_summary = pell_summary.rename(columns={pell_summary.columns[0]: "TOTAL"})

In [162]:
pell_summary

                                                         TOTAL
AY 2017-2018 as of 8.13
CaneLink Pell Disbursed Amt                         7534035.78
COD Total Disb Amt for Pell Disbursed in CaneLink   8216873.00
Net Discrepancy between COD and CaneLink            -682837.22
Unbooked + Mismatched Pell Count                         20.00
Sum of Unbooked + Mismatched Pell Disbursements       17810.95
Number of students with COD disbursements not i...      254.00
Sum of COD disbursements not in PS                  -700648.17

In [163]:
writer = pd.ExcelWriter(path_final + '/' + aid_year + ' Pell Disbursement Reconciliation - 2018.' + date + '.xlsx')
pell_summary.to_excel(writer,'Summary')
pell_unbooked_mismatched.to_excel(writer,'Unbooked+Mismatched by NID', index=False)
pell_cod_not_in_canelink.to_excel(writer,'COD > CaneLink by NID', index=False)
pell_compare.to_excel(writer,'All Pell by NID', index=False)
canelink_pell_disb.to_excel(writer,'Orig CS Query', index=False)

# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['Summary']
worksheet2 = writer.sheets['Unbooked+Mismatched by NID']
worksheet3 = writer.sheets['COD > CaneLink by NID']
worksheet4 = writer.sheets['All Pell by NID']
worksheet5 = writer.sheets['Orig CS Query']

# Add some cell formats.
format1 = workbook.add_format({'num_format': '$#,##0.00', 'bold': True})
format2 = workbook.add_format({'num_format': '$#,##0.00'})
format3 = workbook.add_format({'bold': True, 'font_color': 'orange'})
format4 = workbook.add_format({'num_format': '$#,##0.00', 'bold': True, 'font_color': 'orange'})
format5 = workbook.add_format({'border': '1'})

# Note: It isn't possible to format any cells that already have a format such
# as the index or headers or any cells that contain dates or datetimes.

# Set the column width and format.
worksheet.set_column('A:A', 51)
worksheet.set_column('B:B', 15)
worksheet.set_row(1, None, format2)
worksheet.set_row(2, None, format2)
worksheet.set_row(3, None, format1)
worksheet.set_row(4, None, format3)
worksheet.set_row(5, None, format4)
worksheet.set_row(7, None, format2)
worksheet2.set_column('A:A', 22)
worksheet2.set_column('B:C', 18)
worksheet2.set_column('D:D', 27)
worksheet2.set_column('E:G', 18)
worksheet3.set_column('A:A', 22)
worksheet3.set_column('B:C', 18)
worksheet3.set_column('D:D', 27)
worksheet3.set_column('E:G', 18)
worksheet4.set_column('A:A', 22)
worksheet4.set_column('B:C', 18)
worksheet4.set_column('D:D', 27)
worksheet4.set_column('E:G', 18)
worksheet5.set_column('A:A', 22)
worksheet5.set_column('B:C', 18)
worksheet5.set_column('D:D', 27)
worksheet5.set_column('E:J', 18)
#worksheet.write(4, 1, None, format3)
#worksheet.write(5, 1, None, format4)

# Set the format but not the column width.
# worksheet.set_column('C:C', None, format2)

writer.save()