In [1]:
import numpy as np
import pandas as pd

In [2]:
from scipy import stats

In [3]:
ACT_TRANSFORM = {1:2,2:2,3:2,4:3,5:3,6:3,7:3,8:4,9:4,10:4,11:5,12:5,13:5,14:6,15:6,16:6,17:6,
                 18:7,19:7,20:7,21:8,22:8,23:8,24:8,25:9,26:9,27:9,28:10,29:10,30:10,31:11,32:11,
                 33:11,34:12,35:12,36:12
                }

In [4]:
ACT_TRANSFORM

{1: 2,
 2: 2,
 3: 2,
 4: 3,
 5: 3,
 6: 3,
 7: 3,
 8: 4,
 9: 4,
 10: 4,
 11: 5,
 12: 5,
 13: 5,
 14: 6,
 15: 6,
 16: 6,
 17: 6,
 18: 7,
 19: 7,
 20: 7,
 21: 8,
 22: 8,
 23: 8,
 24: 8,
 25: 9,
 26: 9,
 27: 9,
 28: 10,
 29: 10,
 30: 10,
 31: 11,
 32: 11,
 33: 11,
 34: 12,
 35: 12,
 36: 12}

In [5]:
WRS = [20,36,9,2]
C =[ACT_TRANSFORM[k]for k in WRS if k in ACT_TRANSFORM]

In [6]:
C

[7, 12, 4, 2]

In [8]:
WRS= pd.read_excel('C:/Users/mjc341/Desktop/TESTPY/WRS_SORT.xlsx')

In [9]:
WRS.head()

       Empl  WRS Highest
0  54121947           26
1  54126483           25
2  54127060           26
3  54136701           20
4  54136731           22

In [14]:
WRS2 = WRS ["WRS Highest"].tolist()

In [15]:
WRS2

[26,
 25,
 26,
 20,
 22,
 23,
 23,
 25,
 26,
 14,
 23,
 24,
 29,
 13,
 20,
 11,
 23,
 25,
 12,
 23,
 26,
 19,
 22,
 19,
 18,
 24,
 24,
 25,
 23,
 23,
 27,
 23,
 26,
 26,
 27,
 26,
 25,
 22,
 23,
 23,
 26,
 22,
 26,
 16,
 23,
 21,
 29,
 22,
 23,
 21,
 21,
 15,
 24,
 27,
 28,
 23,
 32,
 15,
 27,
 32,
 14,
 19,
 27,
 14,
 23,
 21,
 23,
 24,
 33,
 26,
 25,
 34,
 22,
 23,
 23,
 33,
 23,
 24,
 28,
 31,
 21,
 32,
 22,
 26,
 21,
 23,
 32,
 22,
 29,
 26,
 23,
 24,
 23,
 23,
 23,
 23,
 26,
 19,
 23,
 23,
 23,
 25,
 16,
 31,
 23,
 13,
 23,
 19,
 16,
 28,
 30,
 31,
 23,
 23,
 24,
 29,
 23,
 29,
 28,
 26,
 19,
 23,
 21,
 23,
 24,
 22,
 12,
 30,
 23,
 21,
 22,
 24,
 19,
 24,
 24,
 26,
 23,
 17,
 24,
 23,
 19,
 34,
 26,
 28,
 23,
 24,
 24,
 23,
 18,
 28,
 24,
 23,
 20,
 23,
 30,
 16,
 29,
 27,
 18,
 28,
 23,
 24,
 10,
 27,
 26,
 22,
 22,
 21,
 23,
 25,
 25,
 23,
 25,
 23,
 21,
 28,
 23,
 26,
 29,
 24,
 24,
 23,
 24,
 23,
 22,
 24,
 17,
 19,
 23,
 23,
 29,
 28,
 23,
 28,
 23,
 22,
 23,
 24,
 26,
 25,
 26,
 23,
 23,
 23,
 30,
 23,
 19,
 23,
 23,
 27,
 29,
 26,
 25,
 26,
 29,
 22,
 23,
 23,
 23,
 30,
 26,
 23,
 20,
 28,
 23,
 25,
 23,
 17,
 23,
 23,
 22,
 29,
 23,
 23,
 23,
 22,
 23,
 26,
 23,
 36,
 21,
 21,
 31,
 25,
 23,
 26,
 30,
 18,
 20,
 20,
 16,
 17,
 23,
 28,
 24,
 26,
 18,
 25,
 16,
 19,
 21,
 25,
 26,
 24,
 25,
 22,
 26,
 19,
 22,
 22,
 23,
 15,
 21,
 23,
 16,
 21,
 26,
 29,
 23,
 26,
 23,
 18,
 25,
 28,
 23,
 21,
 24,
 23,
 29,
 23,
 18,
 29,
 24,
 22,
 22,
 26,
 18,
 33,
 23,
 25,
 21,
 27,
 25,
 19,
 33,
 25,
 17,
 12,
 25,
 23,
 21,
 18,
 22,
 18,
 30,
 23,
 21,
 23,
 19,
 20,
 19,
 26,
 24,
 20,
 26,
 23,
 26,
 24,
 22,
 18,
 20,
 24,
 23,
 18,
 19,
 27,
 19,
 27,
 24,
 29,
 26,
 27,
 21,
 17,
 21,
 33,
 24,
 20,
 29,
 20,
 25,
 27,
 29,
 15,
 19,
 25,
 18,
 23,
 23,
 26,
 23,
 21,
 23,
 29,
 26,
 23,
 21,
 26,
 19,
 23,
 21,
 19,
 28,
 26,
 18,
 19,
 26,
 29,
 23,
 28,
 21,
 23,
 21,
 21,
 22,
 28,
 29,
 27,
 24,
 23,
 21,
 23,
 26,
 28,
 23,
 26,
 25,
 23,
 21,
 26,
 26,
 23,
 23,
 25,
 29,
 25,
 24,
 26,
 25,
 23,
 19,
 27,
 23,
 21,
 24,
 23,
 20,
 26,
 26,
 24,
 21,
 24,
 29,
 23,
 23,
 29,
 23,
 23,
 23,
 23,
 21,
 23,
 25,
 26,
 27,
 26,
 23,
 20,
 27,
 29,
 23,
 18,
 23,
 23,
 25,
 28,
 23,
 26,
 29,
 23,
 19,
 26,
 30,
 23,
 23,
 29,
 26,
 23,
 33,
 19,
 21,
 21,
 24,
 23,
 23,
 29,
 15,
 27,
 29,
 23,
 24,
 16,
 21,
 24,
 15,
 30,
 30,
 25,
 23,
 24,
 18,
 32,
 19,
 22,
 22,
 20,
 29,
 29,
 29,
 16,
 29,
 23,
 34,
 26,
 9,
 27,
 29,
 26,
 17,
 19,
 29,
 25,
 23,
 19,
 15,
 23,
 23,
 20,
 19,
 27,
 23,
 20,
 23,
 24,
 29,
 21,
 23,
 27,
 23,
 23,
 17,
 23,
 23,
 21,
 21,
 17,
 20,
 24,
 23,
 19,
 22,
 26,
 26,
 21,
 13,
 23,
 23,
 16,
 24,
 27,
 33,
 17,
 15,
 30,
 23,
 26,
 19,
 27,
 22,
 21,
 19,
 17,
 21,
 23,
 17,
 24,
 22,
 28,
 14,
 19,
 19,
 20,
 23,
 26,
 22,
 29,
 25,
 16,
 25,
 9,
 24,
 18,
 23,
 21,
 23,
 23,
 24,
 17,
 27,
 24,
 28,
 23,
 23,
 28,
 15,
 18,
 24,
 10,
 23,
 25,
 23,
 18,
 23,
 23,
 16,
 25,
 17,
 23,
 27,
 23,
 29,
 29,
 24,
 29,
 20,
 19,
 27,
 21,
 28,
 24,
 23,
 24,
 21,
 25,
 23,
 23,
 26,
 19,
 23,
 21,
 29,
 26,
 21,
 19,
 25,
 30,
 26,
 26,
 27,
 20,
 23,
 23,
 26,
 19,
 20,
 19,
 23,
 26,
 23,
 33,
 20,
 18,
 17,
 19,
 26,
 24,
 27,
 20,
 23,
 26,
 28,
 19,
 30,
 23,
 27,
 20,
 24,
 26,
 27,
 29,
 26,
 23,
 24,
 27,
 32,
 23,
 21,
 29,
 19,
 19,
 23,
 19,
 27,
 23,
 23,
 29,
 25,
 16,
 17,
 23,
 23,
 20,
 15,
 30,
 19,
 29,
 18,
 26,
 19,
 28,
 19,
 18,
 21,
 20,
 17,
 24,
 24,
 21,
 19,
 23,
 19,
 18,
 29,
 26,
 24,
 23,
 21,
 32,
 23,
 26,
 25,
 23,
 23,
 23,
 19,
 11,
 22,
 23,
 24,
 17,
 28,
 23,
 29,
 19,
 19,
 27,
 24,
 22,
 27,
 27,
 29,
 21,
 33,
 30,
 23,
 18,
 18,
 25,
 23,
 28,
 23,
 23,
 16,
 29,
 30,
 23,
 19,
 18,
 23,
 30,
 16,
 16,
 18,
 21,
 21]

In [16]:
len(WRS2)

755

In [17]:

NEW_WRS2 =[ACT_TRANSFORM[k]for k in WRS2 if k in ACT_TRANSFORM]

In [18]:
NEW_WRS2

[9,
 9,
 9,
 7,
 8,
 8,
 8,
 9,
 9,
 6,
 8,
 8,
 10,
 5,
 7,
 5,
 8,
 9,
 5,
 8,
 9,
 7,
 8,
 7,
 7,
 8,
 8,
 9,
 8,
 8,
 9,
 8,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 9,
 8,
 9,
 6,
 8,
 8,
 10,
 8,
 8,
 8,
 8,
 6,
 8,
 9,
 10,
 8,
 11,
 6,
 9,
 11,
 6,
 7,
 9,
 6,
 8,
 8,
 8,
 8,
 11,
 9,
 9,
 12,
 8,
 8,
 8,
 11,
 8,
 8,
 10,
 11,
 8,
 11,
 8,
 9,
 8,
 8,
 11,
 8,
 10,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 7,
 8,
 8,
 8,
 9,
 6,
 11,
 8,
 5,
 8,
 7,
 6,
 10,
 10,
 11,
 8,
 8,
 8,
 10,
 8,
 10,
 10,
 9,
 7,
 8,
 8,
 8,
 8,
 8,
 5,
 10,
 8,
 8,
 8,
 8,
 7,
 8,
 8,
 9,
 8,
 6,
 8,
 8,
 7,
 12,
 9,
 10,
 8,
 8,
 8,
 8,
 7,
 10,
 8,
 8,
 7,
 8,
 10,
 6,
 10,
 9,
 7,
 10,
 8,
 8,
 4,
 9,
 9,
 8,
 8,
 8,
 8,
 9,
 9,
 8,
 9,
 8,
 8,
 10,
 8,
 9,
 10,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 6,
 7,
 8,
 8,
 10,
 10,
 8,
 10,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 8,
 8,
 8,
 10,
 8,
 7,
 8,
 8,
 9,
 10,
 9,
 9,
 9,
 10,
 8,
 8,
 8,
 8,
 10,
 9,
 8,
 7,
 10,
 8,
 9,
 8,
 6,
 8,
 8,
 8,
 10,
 8,
 8,
 8,
 8,
 8,
 9,
 8,
 12,
 8,
 8,
 11,
 9,
 8,
 9,
 10,
 7,
 7,
 7,
 6,
 6,
 8,
 10,
 8,
 9,
 7,
 9,
 6,
 7,
 8,
 9,
 9,
 8,
 9,
 8,
 9,
 7,
 8,
 8,
 8,
 6,
 8,
 8,
 6,
 8,
 9,
 10,
 8,
 9,
 8,
 7,
 9,
 10,
 8,
 8,
 8,
 8,
 10,
 8,
 7,
 10,
 8,
 8,
 8,
 9,
 7,
 11,
 8,
 9,
 8,
 9,
 9,
 7,
 11,
 9,
 6,
 5,
 9,
 8,
 8,
 7,
 8,
 7,
 10,
 8,
 8,
 8,
 7,
 7,
 7,
 9,
 8,
 7,
 9,
 8,
 9,
 8,
 8,
 7,
 7,
 8,
 8,
 7,
 7,
 9,
 7,
 9,
 8,
 10,
 9,
 9,
 8,
 6,
 8,
 11,
 8,
 7,
 10,
 7,
 9,
 9,
 10,
 6,
 7,
 9,
 7,
 8,
 8,
 9,
 8,
 8,
 8,
 10,
 9,
 8,
 8,
 9,
 7,
 8,
 8,
 7,
 10,
 9,
 7,
 7,
 9,
 10,
 8,
 10,
 8,
 8,
 8,
 8,
 8,
 10,
 10,
 9,
 8,
 8,
 8,
 8,
 9,
 10,
 8,
 9,
 9,
 8,
 8,
 9,
 9,
 8,
 8,
 9,
 10,
 9,
 8,
 9,
 9,
 8,
 7,
 9,
 8,
 8,
 8,
 8,
 7,
 9,
 9,
 8,
 8,
 8,
 10,
 8,
 8,
 10,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 8,
 7,
 9,
 10,
 8,
 7,
 8,
 8,
 9,
 10,
 8,
 9,
 10,
 8,
 7,
 9,
 10,
 8,
 8,
 10,
 9,
 8,
 11,
 7,
 8,
 8,
 8,
 8,
 8,
 10,
 6,
 9,
 10,
 8,
 8,
 6,
 8,
 8,
 6,
 10,
 10,
 9,
 8,
 8,
 7,
 11,
 7,
 8,
 8,
 7,
 10,
 10,
 10,
 6,
 10,
 8,
 12,
 9,
 4,
 9,
 10,
 9,
 6,
 7,
 10,
 9,
 8,
 7,
 6,
 8,
 8,
 7,
 7,
 9,
 8,
 7,
 8,
 8,
 10,
 8,
 8,
 9,
 8,
 8,
 6,
 8,
 8,
 8,
 8,
 6,
 7,
 8,
 8,
 7,
 8,
 9,
 9,
 8,
 5,
 8,
 8,
 6,
 8,
 9,
 11,
 6,
 6,
 10,
 8,
 9,
 7,
 9,
 8,
 8,
 7,
 6,
 8,
 8,
 6,
 8,
 8,
 10,
 6,
 7,
 7,
 7,
 8,
 9,
 8,
 10,
 9,
 6,
 9,
 4,
 8,
 7,
 8,
 8,
 8,
 8,
 8,
 6,
 9,
 8,
 10,
 8,
 8,
 10,
 6,
 7,
 8,
 4,
 8,
 9,
 8,
 7,
 8,
 8,
 6,
 9,
 6,
 8,
 9,
 8,
 10,
 10,
 8,
 10,
 7,
 7,
 9,
 8,
 10,
 8,
 8,
 8,
 8,
 9,
 8,
 8,
 9,
 7,
 8,
 8,
 10,
 9,
 8,
 7,
 9,
 10,
 9,
 9,
 9,
 7,
 8,
 8,
 9,
 7,
 7,
 7,
 8,
 9,
 8,
 11,
 7,
 7,
 6,
 7,
 9,
 8,
 9,
 7,
 8,
 9,
 10,
 7,
 10,
 8,
 9,
 7,
 8,
 9,
 9,
 10,
 9,
 8,
 8,
 9,
 11,
 8,
 8,
 10,
 7,
 7,
 8,
 7,
 9,
 8,
 8,
 10,
 9,
 6,
 6,
 8,
 8,
 7,
 6,
 10,
 7,
 10,
 7,
 9,
 7,
 10,
 7,
 7,
 8,
 7,
 6,
 8,
 8,
 8,
 7,
 8,
 7,
 7,
 10,
 9,
 8,
 8,
 8,
 11,
 8,
 9,
 9,
 8,
 8,
 8,
 7,
 5,
 8,
 8,
 8,
 6,
 10,
 8,
 10,
 7,
 7,
 9,
 8,
 8,
 9,
 9,
 10,
 8,
 11,
 10,
 8,
 7,
 7,
 9,
 8,
 10,
 8,
 8,
 6,
 10,
 10,
 8,
 7,
 7,
 8,
 10,
 6,
 6,
 7,
 8,
 8]

In [19]:
len(NEW_WRS2)

755

In [41]:
XFORM2 = pd.read_excel('C:/Users/mjc341/Desktop/TESTPY/WRS_TRANSFORM.xlsx')

In [43]:
XFORM2.head()

    Empl_ID  WRS
0  54121947   26
1  54126483   25
2  54127060   26
3  54136701   20
4  54136731   22

In [44]:
LIST_OLD = XFORM2['WRS'].dropna().tolist()

In [45]:
len(LIST_OLD)

752

In [47]:
len(XFORM2)

752

In [48]:
LIST_NEW =[ACT_TRANSFORM[k]for k in LIST_OLD if k in ACT_TRANSFORM]

In [49]:
len(LIST_NEW)

752

In [50]:
XFORM2['CONCORDED_SCORES']= LIST_NEW

In [51]:
XFORM2.head()

    Empl_ID  WRS  CONCORDED_SCORES
0  54121947   26                 9
1  54126483   25                 9
2  54127060   26                 9
3  54136701   20                 7
4  54136731   22                 8

In [53]:
XFORM2.to_excel('CONV_ACT.xlsx')